.help-container {
    display: flex;
    height: 100vh;
    align-items: center;
}

.help-content-outer {
    margin: 0 auto;
}

.help-content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px;
    line-height: 1.5;
    text-align: justify;

    h1 {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        margin: 0;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .disclaimer {
        font-size: 12px;
        color: #aaa;
    }
}
