@use "../icons";

.sidebar {
    float: left;
    height: 100vh;
    background-color: #111;

    width: 64px;
    transition: width 0.4s;
}

.sidebar-open {
    width: 400px;
}

.sidebar-container {
    position: relative;
    height: 100%;
}

.sidebar-menu-btn {
    @extend .mui-icon;
    background: none;
    border: none;
    color: #ccc;
    font-size: 40px;
    cursor: pointer;
    margin: 8px;
}

.sidebar-content {
    position: relative;
    margin: 10px 20px;
}

.sidebar-footer {
    position: absolute;
    bottom: 0px;
    padding: 15px 20px;
    width: 100%;
    overflow: hidden;

    a,
    a:visited {
        color: #444;
        font-weight: bold;

        &:hover {
            color: #666;
        }
    }
}

@media (max-width: 640px) {
    .sidebar {
        width: 48px;
    }

    .sidebar-menu-btn {
        font-size: 32px;
        margin: 4px;
    }

    .sidebar-open {
        width: 100%;
    }
}
