.toast {
    display: inline-block;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;

    transition: bottom 0.4s ease-in;
}

.toast-show {
    bottom: 50px;
    transition: bottom 0.8s;
}

.toast-ok {
    background-color: #008000;
}

.toast-error {
    background-color: #911414;
}
