.search-results {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #ddd;
    line-height: 0;
    max-height: 400px;
    overflow-y: scroll;

    li {
        padding: 15px;
        background-color: #222;

        filter: brightness(80%);

        &:hover {
            filter: brightness(100%);
        }
    }

    .profile-image {
        display: inline-block;
        width: 48px;
        height: 48px;

        img {
            width: 100%;
        }
    }

    .user-info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 20px;
        font-weight: bold;
    }

    .nsfw-user {
        color: #B00;
        font-weight: normal;
    }
}
