.search-results {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #DDD;
    line-height: 0;


    li {
        padding: 15px;
        background-color: #222;

        filter: brightness(80%);

        &:hover {
            filter: brightness(100%);
        }
    }

    img {
        width: 32px;
    }

    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 20px;
        font-weight: bold;
    }
}